@import "../../styles/variables.css";

.container{
  composes: container from "../../styles/layout.css";
  color: rgba(var(--spruce));
  padding: 20px;
}

.sectionBar{
  composes: sectionBar from "../../styles/layout.css";
}

.teamMembers{
  composes: container from "../../styles/layout.css";
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.teamMember{
  text-align: center;
  width: 50%;
  color: rgba(var(--gray));
  margin-bottom: 10px;
  padding-right: 20px;
  @media (--large-and-up) {
    width: 25%;
  }

  & .teamMemberPhoto{
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(var(--gray));
    cursor: pointer;
    transition: all 0.3s ease;
  }
  & .teamMemberName{
    font-size: 24px;
    font-weight: 400;
    margin-top: 5px;
  }
  & .teamMemberTitle{
    font-size: 20px;
    line-height: 20px;
    font-weight: 300;
  }
}


.quotes{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  @media (--large-and-up) {
    flex-direction: row;
  }

  & .quote{
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Open-Sans';
    @media (--large-and-up) {
      width: 33.33%;
    }
    & .quoteAuthorImage{
      min-height: 80px;
      min-width: 80px;
      margin-right: 10px;
      border-radius: 50%;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    & .quoteContent{
      & quote,
      & author{
        display: block;
        font-size: 16px;
        line-height: 18px;
      }
      & author{
        font-style: italic;
        font-size: 14px;
        line-height: 14px;
        margin-top: 5px;
        &:before{
          content: '- ';
        }
      }
    }
  }
}

.jobsHeader{
  font-size: 48px;
  font-weight: 500;
  text-align: center;
  padding-top: 20px;
}

.jobs{
  margin-top: 20px;
  & .job{
    padding: 25px;
    margin-bottom: 20px;
    background-color: gray(90%);
    color: rgba(var(--gray));
    & .jobTitle{
      font-size: 36px;
      font-weight: 600;
      line-height: 36px;
    }
    & .jobDescription{
      font-size: 18px;
      line-height: 20px;
      margin: 15px 0;
    }
    & .jobCtas{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      text-transform: uppercase;
      text-align: center;
      font-weight: 600;
      font-size: 24px;
      font-family: 'Teko';
      @media (--large-and-up) {
        justify-content: space-between;
        flex-direction: row;
        text-align: auto;
      }
      & .jobLocation{

      }
    }
  }
}
