@import "../../styles/variables.css";

.header{
  position: fixed;
  z-index: 3;
  top: 0;
  width: 100%;
  display: flex;
  padding: 25px 30px;
  box-sizing: border-box;
}

.bar,
.drawer{
  background-color: rgba(var(--spruce), 0.9);
  transition: all 0.3s;
  font-weight: 400;

  & .navIcon{
    font-size: 35px;
    &.active{
      color: rgba(var(--pistachio));
    }
  }
}

.bar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  &.navTransparent{
    background-color: transparent !important;
    box-shadow: none !important;
  }
}

.drawer{
  border-left: 0 !important;
  & .close{
    position: fixed;
    top: 15px;
    right: 15px;
    cursor: pointer;
    font-size: 25px;
    color: rgba(var(--pistachio));
    font-weight: bold;
  }
}

.nav{
  list-style-type: none;
  margin: 0;
  padding: 100px 40px 0;
  font-size: 24px;

  & li{
    margin-bottom: 10px;
  }

  & a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease;
    &:hover{
      color: rgba(var(--pistachio));
    }
  }
}

.link{
  color: #ffffff;
  text-decoration: none;
  font-family: 'Teko', system-ui;
  opacity: 0.7;

  &:hover{
    opacity: 1;
  }
}

.linkActive{
  font-weight: 500;
  padding-bottom: 0.2rem;
  border-bottom: 2px solid currentColor;
  opacity: 1;
}
