@import "../../styles/variables.css";

.overlay{
  @media (--medium-and-up) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 9;
  }
}

.overlay,
.container{
  opacity: 0.5;
  transition: opacity 0.2s, margin-top 0.2s;
}

.container{
  background-color: white;
  padding: 20px;
  padding-bottom: 100px;
  @media (--medium-and-up) {
    position: fixed;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin-top: -50px;
  }
}

.afterOpen{
  margin-top: 0;
}

.afterOpen,
.overlayAfterOpen{
  opacity: 1;
}

.beforeClose{
  margin-top: -50px;
}

.overlayBeforeClose{
  opacity: 0;
}

.closeModal{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(var(--pistachio));
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  @media (--medium-and-up) {
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: auto;
    width: auto;
    left: auto;
    color: rgba(var(--pistachio));
    background-color: transparent;
    display: block;
  }
}

/* Specific modal styles */
.aboutModal{
  width: 100%;
  @media (--medium-and-up) {
    width: 1000px;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    flex-direction: row;
  }

  & .aboutImage{
    height: 400px;
    width: 400px;
    max-width: 100%;
    max-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 20px;
    flex-grow: 1;
    @media (--medium-and-up) {
      max-width: 50%;
    }
  }

  & .aboutInfo{
    flex-grow: 1;
    max-width: 100%;
    color: rgba(var(--spruce));
    @media (--medium-and-up) {
      max-width: 50%;
    }

    & .aboutName{

    }
    & .aboutName{
      font-weight: 400;
    }
    & .aboutTitle{
      font-weight: 300;
      font-size: 24px;
    }
    & .aboutBio{
      font-size: 16px;
      font-weight: 300;
      margin-top: 15px;
      font-family: 'Open Sans';
    }
  }
}

.defaultModal{
  display: flex;
  align-items: center;
  width: 500px;
  max-width: 80vw;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Open Sans';
  & .icon{
    width: 200px;
    height: 100px;
    margin-right: 30px;
    & svg{
      width: 90px;
      height: 90px;
    }
  }
}
