@import "variables.css";

:global {
  & body{
    margin: 0;
    background-color: rgba(var(--spruce));
  }

  & .page-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
  }

  & .ReactModal__Body--open{
    @media (--only-small) {
      & #app{
        display: none;
      }
    }
  }
}

.sectionBar{
  font-family: 'Teko', system-ui;
  font-size: 48px;
  font-weight: 500;
  background-color: rgba(var(--pistachio));
  width: 100%;
  padding-top: 8px;
  text-align: center;
  color: rgba(var(--gray));
}

.container{
  align-self: center;
  width: 900px;
  max-width: 100%;
  font-weight: 300;
  font-family: Open-Sans;
  font-size: 20px;
  line-height: 24px;
}

.loader{
  display: flex;
  color: black;
}
