@import "variables.css";

:global {
  & body{
    margin: 0;
    background-color: rgba(var(--spruce));
  }

  & .page-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
  }

  & .double-col{
    display: flex;
    width: 100%;
    & div{
      text-align: left;
      width: 50%;
      padding: 200px 100px;
      background-color: white;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;

      & .section-header{
        font-size: 100px;
        line-height: 70px;
        text-align: left;
        color: rgba(var(--pistachio));
      }

      & .section-subheader{
        font-size: 32px;
        line-height: 40px;
      }
    }
  }
}

.sectionBar{
  font-size: 48px;
  background-color: rgba(var(--pistachio));
  width: 100%;
  text-align: center;
  color: rgba(var(--gray));
}

.container{
  align-self: center;
  width: 900px;
  max-width: 100%;
}

.loader{
  display: flex;
  color: black;
}
