@import "variables.css";

:global {
  & body{
    margin: 0;
    background-color: rgba(var(--spruce));
  }

  & .page-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
  }
}

.sectionBar{
  font-size: 48px;
  font-weight: 500;
  background-color: rgba(var(--pistachio));
  width: 100%;
  padding-top: 8px;
  text-align: center;
  color: rgba(var(--gray));
}

.container{
  align-self: center;
  width: 900px;
  max-width: 100%;
  font-weight: 300;
}

.loader{
  display: flex;
  color: black;
}
