@import "variables.css";

@custom-selector :--headings h1, h2, h3, h4, h5, h6;

:global{
  & body,
  & button,
  & :--headings{
    font-family: 'Teko', system-ui !important;
    line-height: auto;
  }

  & body,
  & div,
  & button,
  & :--headings{
    margin: 0;
  }

  & :--headings{
    color: rgba(var(--gray));
    font-weight: 500;
  }

  & a{
    color: rgba(var(--pistachio));
  }

  & p{
    margin-top: 0;
  }
}

:global button{
  font-weight: 400 !important;
}
