@import "../../styles/variables.css";

.container{
  composes: container from "../../styles/layout.css";
  background-color: rgba(var(--spruce));
  padding: 40px 0;
  font-size: 18px;
}

.details{
  display: flex;
  justify-content: space-between;
  color: #9ca7ae;
  padding-bottom: 30px;

  & .contact{
    text-align: right;
  }
}

.logos{
  display: flex;
  justify-content: space-between;

  & .linkedin{
    display: flex;
    align-items: center;
    color: rgba(var(--pistachio));
    & i{
      font-size: 30px;
      margin-left: 10px;
    }
  }
}
