@import "../../styles/variables.css";

.marquee{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 200px);
  align-items: center;
  justify-content: center;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.split{
  flex-direction: row;
  height: 400px;
  & .leftArea,
  & .rightArea{
    height: 100%;
    width: 50%;
  }
  & .rightArea{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  & .leftArea{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(var(--pistachio));
    & .header{
      color: rgba(var(--gray));
      font-size: 60px;
    }
  }
}

.container{
  composes: container from "../../styles/layout.css";
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.header{
  color: rgba(var(--pistachio));
  font-size: 100px;
  font-weight: 500;
  line-height: 90px;
  margin: 0;
  text-align: left;
}

.intro{
  font-size: 50px;
  font-weight: 300;
  line-height: 50px;
  color: white;
  margin: 0;
}
