@import "../../styles/variables.css";

.marquee{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 200px);
  min-height: 200px;
  max-height: 300px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 20px;
  overflow: hidden;

  &:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 2;
  }
  & video{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100vh;
    min-width: 100vw;
    z-index: 1;
    @media (--medium-and-up) {
      display: block;
    }
  }
  & .container{
    position: relative;
    z-index: 9;
  }

  @media (--only-small) {
    padding-top: 60px;
  }
  @media (--medium-and-up) {
    max-height: 400px;
  }
  @media (--large-and-up) {
    max-height: 600px;
    background-attachment: fixed;
  }
}

.split{
  flex-direction: row;
  height: 400px;
  & .leftArea,
  & .rightArea{
    height: 100%;
    width: 50%;
  }
  & .rightArea{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  & .leftArea{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(var(--pistachio));
    & .header{
      color: rgba(var(--gray));
      font-size: 60px;
    }
  }
}

.container{
  composes: container from "../../styles/layout.css";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header{
  color: rgba(var(--pistachio));
  font-size: 60px;
  line-height: 60px;
  font-weight: 500;
  margin: 0;
  @media (--large-and-up) {
    font-size: 100px;
    line-height: 90px;
  }
}

.intro{
  font-size: 30px;
  line-height: 30px;
  font-weight: 300;
  color: white;
  margin: 0;
  max-width: 500px;
  @media (--large-and-up) {
    font-size: 50px;
    line-height: 50px;
    max-width: 750px;
  }
}
