@import "../../styles/variables.css";

.marquee{
  display: flex;
  width: 100%;
  height: 300px;
  background-color: white;
  color: rgba(var(--pistachio));
  align-items: center;
  justify-content: center;
  margin-bottom: -50px;
}

.header{
  font-size: 220px;
}
