@import "../../styles/variables.css";

.item{
  margin: 5px 0 30px;
  padding: 5px 0;
}

.title{
  position: relative;
  user-select: none;
  cursor: pointer;
  margin-bottom: 5px;
  &:after{
    content: '[+]';
    font-size: 20px;
    color: rgba(var(--pistachio));
    font-weight: bold;
    position: absolute;
    right: 0;
    transition: all 0.2s;
  }
}

.content{
}

.active{
  & .title:after{
    content: '[-]';
  }
}
