@import "../../styles/variables.css";

.wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container{
  composes: container from "../../styles/layout.css";
  padding: 20px;
}

.items{
  display: flex;
  & .item{
    width: 33.33%;
    cursor: pointer;
    margin-right: 30px;
    text-decoration: none;
    color: rgba(var(--gray));
    
    &:last-child{
      margin-right: 0;
    }
    & .thumbnail{
      width: 100%;
      height: 125px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    & .title{
      margin-top: 15px;
    }
    & .snippet{
      font-size: 18px;
      line-height: 18px;
    }
  }
}

.sectionBar{
  composes: sectionBar from "../../styles/layout.css";
}
