@import "../../styles/variables.css";

.container{
  composes: container from "../../styles/layout.css";
  font-weight: normal;
  color: rgba(var(--spruce));
  padding: 20px;
}

.sectionBar{
  composes: sectionBar from "../../styles/layout.css";
}

.partners{
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  align-items: center;
  justify-content: space-between;
  & .partner{
    max-width: 45%;
    padding-bottom: 40px;
    & img{
      max-width: 100%;
      &:hover{
        opacity: 1;
      }
    }
  }
  @media (--medium-and-up) {
    justify-content: default;
    & .partner{
      max-width: 20%;
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}

.testimonials{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 15px;

  & .testimonial{
    width: 100%;
    font-size: 20px;
    line-height: 24px;
    padding: 25px;
    margin-bottom: 20px;
    background-color: gray(90%);
    color: rgba(var(--gray));

    & author{
      display: block;
      font-weight: 300;
      font-style: italic;
      margin-top: 15px;
      font-size: 16px;
      line-height: 20px;
    }
  }
}
