@import "../../styles/variables.css";

.container{
  composes: container from "../../styles/layout.css";
  font-size: 32px;
  line-height: 32px;
  font-weight: normal;
  color: rgba(var(--spruce));
  padding: 20px;
}

.sectionBar{
  composes: sectionBar from "../../styles/layout.css";
}

.partners{
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  align-items: center;
  & .partner{
    max-width: 20%;
    padding-right: 25px;
    padding-bottom: 40px;
    & img{
      max-width: 100%;
      opacity: 0.5;
      &:hover{
        opacity: 1;
      }
    }
  }
}

.testimonials{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 15px;
  @media (--large-and-up) {
    flex-direction: row;
  }

  & .testimonial{
    width: 100%;
    font-size: 24px;
    font-weight: 300;
    padding-right: 20px;
    font-weight: light;
    margin-bottom: 30px;
    @media (--large-and-up) {
      width: 33.33%;
    }
    &:last-child{
      padding-right: 0;
    }
    & author{
      display: block;
      font-weight: 300;
    }
  }
}
