@import "../../styles/variables.css";

.container{
  composes: container from "../../styles/layout.css";
  position: relative;
  padding: 40px 20px 80px;
  font-size: 20px;
  line-height: 24px;
  color: rgba(var(--gray));
  max-width: 100%;
  @media (--medium-and-up) {
    max-width: 600px;
  }
  @media (--mediumLarge-and-up) {
    max-width: 1000px;
  }
  @media (--large-and-up) {
    width: 900px;
    padding: 40px 0;
  }
  & h1,
  & h2,
  & h3,
  & h4{
    margin-bottom: 15px;
  }
}

.arrows{
  & .leftArrow,
  & .rightArrow{
    position: absolute;
    font-size: 70px;
    bottom: 30px;
    @media (--medium-and-up) {
      top: 50%;
    }  
  }
  & .leftArrow{
    @media (--medium-and-up) {
      left: -50px;
    }
    @media (--large-and-up) {
      left: -140px;
    }
  }
  & .rightArrow{
    right: 20px;
    @media (--medium-and-up) {
      right: -50px;
    }
    @media (--large-and-up) {
      right: -140px;
    }
  }
}
