@import "../../styles/variables.css";

.container{
  composes: container from "../../styles/layout.css";
}

.sectionBar{
  composes: sectionBar from "../../styles/layout.css";
}

.map{
  height: 350px;
  width: 100%;
  & .marker{
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    width: 150px;
    & i{
      display: block;
      color: rgba(var(--pistachio));
      font-size: 50px;
    }
  }
}

.topBar{
  height: 10px;
  width: 100%;
  background-color: rgba(var(--pistachio));
}

.contactMethods{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  & .contacts,
  & .formContainer{
    width: 100%;
    padding: 20px 30px 40px;
    @media (--medium-and-up) {
      width: 50%;
    }
  }
  & h2{
    font-size: 48px;
    text-align: center;
  }

  & .contacts{
    background-color: gray(96%);
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color:  rgba(var(--gray));
    font-family: Open-Sans;
    & .row{
      display: flex;
      flex-direction: column;
      & .col{
        width: 100%;
      }
      @media (--medium-and-up) {
        flex-direction: row;
        & .col{
          width: 50%;
        }
      }
    }
    & a{
      color: rgba(var(--gray));
    }
    & h4{
      margin-top: 25px;
      font-size: 24px;
      line-height: 24px;
      font-weight: bold;
    }
    & address{
      display: block;
      padding-bottom: 15px;
      font-style: normal;
    }
  }

  & .formContainer{
    & .form{
      display: flex;
      flex-wrap: wrap;
      font-size: 18px;
      & .input input,
      & .textarea textarea{
        font-family: 'Open-Sans';
      }
      & .input{
        width: calc(100% - 30px);
        margin: 0 15px;
        & input:invalid{
          box-shadow: none !important;
        }
        @media (--medium-and-up) {
          width: calc(50% - 30px);
        }
      }
      & .textarea{
        width: calc(100% - 30px);
        margin: 0 15px;
      }
      & .submit{
        background-color: rgba(var(--pistachio));
        margin: 0 auto;
        width: 250px;
        padding-top: 3px;
        font-size: 30px;
        & .disabled{
          background-color: gray(90%);
        }
      }
    }
  }
}

.sentContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  height: 100%;
  font-family: Open-Sans;
  color: rgba(var(--gray));
}

.bar {
  &::before,
  &::after {
    background-color: rgba(var(--pistachio));
  }
}
