@import "../../styles/variables.css";

.landing{
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  & .logo{
    width: 100%;
    text-align: center;
    & img{
      max-width: 100%;
    }
  }
  & .header{
    color: white;
    font-size: 40px;
    line-height: 40px;
    margin-top: 25px;
    text-align: center;
    font-weight: 400;
    width: 100%;
    max-width: 430px;
  }
  @media (--large-and-up) {
    & > div {
      align-items: center;
    }
  }
}

.doubleCol{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  & .image {
    @media (--medium-and-down) {
      min-height: 250px;
    }
  }
  & .sectionDescription{
    cursor: pointer;
  }
  & div{
    text-align: left;
    width: 100%;
    padding: 50px;
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.4s ease;
    background-color: rgba(var(--pistachio), 0);

    @media (--mediumLarge-and-up) {
      width: 50%;
      padding: 100px 60px;
    }

    @media (--large-and-up) {
      width: 50%;
      padding: 180px 100px;
    }

    &:hover{
      background-color: rgba(var(--pistachio), 1);
      & .sectionHeader,
      & .sectionSubheader{
        color: white;
      }
    }

    & .sectionHeader{
      font-size: 60px;
      line-height: 60px;
      font-weight: 500;
      margin: 0;
      color: rgba(var(--pistachio));
      transition: all 0.3s ease;
      @media (--large-and-up) {
        font-size: 100px;
        line-height: 90px;
      }
    }

    & .sectionSubheader{
      font-family: 'Teko';
      font-weight: 300;
      margin: 0;
      transition: all 0.3s ease;
      font-size: 28px;
      line-height: 30px;
      @media (--large-and-up) {
        font-size: 32px;
        line-height: 36px;
      }
    }
  }
}

.capabilities{
  @media (--medium-and-down) {
    flex-direction: column-reverse;
  }
}

.pmGrid{
  background-image: url('/images/tile.jpg');
  background-repeat: repeat;
  background-position: center center;
  height: 42px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  &:after{
    content: '';
    display: block;
    height: inherit;
    margin-top: 2px;
    width: 40px;
    background-image: url('/images/plus.png');
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.clientLogos{
  background-color: white;
  width: 100%;
  justify-content: center;
  padding: 30px 0;
  & .slider{
    width: 100%;
    overflow: hidden;
    & img{
      max-width: 100%;
    }
  }
  @media (--large-and-up) {
    display: flex;
    & .slider{
      width: 800px;
      overflow: visible;
    }
  }
}
