@import "../../styles/variables.css";

.container{
  composes: container from "../../styles/layout.css";
  font-size: 32px;
  line-height: 32px;
  font-weight: normal;
  color: rgba(var(--spruce));
  padding: 20px;
}

.sectionBar{
  composes: sectionBar from "../../styles/layout.css";
}

.services{
  background-color: rgba(var(--gray));
  padding: 20px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: white;

  & .serviceGroupTitle{
    text-align: center;
    color: white;
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
  }

  & .serviceGroup{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    & .service{
      width: 350px;
      background-color: rgba(var(--spruce));
      margin-right: 30px;
      padding: 15px 25px;
      &:last-child{
        margin-right: 0;
      }
      & p{
        margin: 0;
      }
      & .serviceTitle{
        color: rgba(var(--pistachio));
        text-align: center;
        font-size: 32px;
        font-weight: 500;
        line-height: 32px;
      }
      & .serviceDescription{
        color: white;
        font-size: 20px;
        font-weight: 300;
        line-height: 20px;
      }
    }
  }
}

.mediaChannels{
  display: flex;
  margin: 30px 0 20px;
  font-weight: 400;
  & .channel{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    & .icon{
      width: 125px;
      height: 125px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    & .title{
      font-size: 28px;
      font-weight: 500;
      text-transform: uppercase;
      margin-top: 10px;
    }
  }
}
